@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Tangerine:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  color: #212529;
}

a {
  text-decoration: none;
  color: #212529;
}

.navbar {
  background-color: #b789966b;
}

.navbar-brand {
  font-family: "Tangerine", cursive;
  font-size: 40px;
}

.nav-link {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
}

#title-about-me {
  font-family: "Tangerine", cursive;
  color: #ffffff;
  font-size: 5rem;
  text-align: center;
}

#text-about-me {
  color: #ffffff;
  font-size: 1rem;
  text-align: start;
}

#img-about {
  max-width: 90%;
  border-radius: 50%;
}

#section-home,
#section-contact,
.background-old-pink {
  background-color: #c1a59fa1;
}

.cards-img {
  background-color: #c1a59fa1;
  padding: 2rem;
}

.title-article-dra {
  font-family: "Tangerine", cursive;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 1rem;
  padding: 0;
}

.title-article {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1rem;
  padding: 0;
}

.img-countries {
  max-width: 120px;
}

.img-after-before {
  max-width: 91%;
}

#title-patients {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.section-patients {
  height: 600px;
  position: relative;
}

.img-patients {
  max-width: 300px;
  position: absolute;
}

.container-with-background {
  background-image: url(/assets/imgs/bg-congrats.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 756px) {
  .img-countries {
    max-width: 60px;
  }
}

.compare {
  position: relative;
  height: 500px;
  width: 500px;
  overflow: hidden;
  margin: 0 auto;
}

.compare__delimeter {
  position: absolute;
  top: 0px;
  width: 3px;
  height: 100%;
  background: #c1a59fa1;
  border: 1px solid #454545;
  cursor: grab;
  z-index: 2;
}

.compare__delimeter:before,
.compare__delimeter:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: 20px;
  height: 40px;
  background: #c1a59f;
  border: 1px solid #454545;
  transform: translate(0, -50%);
}

.compare__delimeter:before {
  left: 5px;
  border-radius: 3px 20px 20px 3px;
}

.compare__delimeter:after {
  right: 5px;
  border-radius: 20px 3px 3px 20px;
}

.compare__image {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.compare__image img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.text-after,
.text-before {
  color: #ffffff;
  position: absolute;
  font-weight: 600;
  bottom: 0%;
}

.text-before {
  left: 3%;
}
.text-after {
  right: 3%;
}

.content-details i {
  color: #ffffff !important;
  font-size: 2rem;
  text-align: center;
}
.content-details p {
  color: #ffffff !important;
  font-size: 1rem;
  text-align: center;
}
.content-main {
  position: relative;
}
.content-overlay {
  background-color: #c1a59fa1;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
  z-index: 1;
}
.content-overlay:hover {
  opacity: 1;
}
.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all 0.4s ease-in-out 0s;
  z-index: 2;
}
.content-main:hover .content-details {
  opacity: 1;
}

.title-enterview {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  margin-top: 7%;
}

.swiper-pagination-bullet,
[class^="swiper-button-"] {
  transition: all 0.3s ease;
}

.swiper-container {
  width: 100%;
  height: 100vh;
  transition: all 0.6s ease;
}

.swiper-container:hover .swiper-button-prev,
.swiper-container:hover .swiper-button-next {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.swiper-slide {
  background-position: top;
  background-size: cover;
}
.swiper-slide .entity-img {
  display: none;
}
.swiper-slide .content {
  position: absolute;
  top: 40%;
  left: 0;
  width: 50%;
  padding-left: 5%;
  color: #fff;
}
.swiper-slide .content .title {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: start;
}
.swiper-slide .content .caption {
  display: block;
  font-size: 15px;
  line-height: 1.4;
  text-align: start;
}

.btn-articles-bg-pink {
  max-width: 150px;
  background-color: #c1a59fa1;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  padding: 10px 25px;
  transition: all 0.2s;
}

.btn-articles-bg-pink:hover {
  background-color: #c1a59f;
  font-weight: 600;
}

.btn-articles-bg-white {
  max-width: 150px;
  background-color: #ffffff96;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  color: #212529;
  padding: 10px 25px;
  transition: all 0.2s;
}

.btn-articles-bg-white:hover {
  background-color: #c1a59fa1;
  font-weight: 600;
}

.btn-see-more {
  position: absolute;
  right: 8%;
  bottom: 10%;
  color: #ffffff;
  background-color: #c1a59fa1;
  padding: 10px 30px;
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.4s;
}

.btn-see-more:hover {
  background-color: #c1a59f;
  font-weight: 600;
}

[class^="swiper-button-"] {
  width: 44px;
  opacity: 0;
  visibility: hidden;
}

.swiper-button-prev,
.swiper-button-next {
  color: #ffffff;
}
.swiper-button-prev {
  transform: translateX(50px);
}

.swiper-button-next {
  transform: translateX(-50px);
}

.swiper-pagination-bullet {
  margin: 0 9px;
  position: relative;
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 0.4;
}
.swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  transform: translate(-50%, -50%);
  border: 0px solid #fff;
  border-radius: 50%;
}
.swiper-pagination-bullet-active {
  opacity: 1;
}
.swiper-pagination-bullet-active::before {
  border-width: 1px;
}

.text-link-contact{
  color: #ffffff;
}

@media (max-width: 1180px) {
  .swiper-slide .content .title {
    font-size: 25px;
  }
  .swiper-slide .content .caption {
    font-size: 12px;
  }
}
@media (max-width: 1023px) {
  .swiper-container {
    height: 80vw;
  }
  .swiper-container.swiper-coverflow {
    padding: 2rem;
  }
  .swiper-slide .content{
    top:30%;
    width: 100%;
  }

  .btn-see-more{
    right: 20%;
  }
}

.text-with-bg {
  max-width: 200px;
  color: #656160;
  padding: 10px 25px;
  border-radius: 5px;
  background-color: #ebe2e0;
  margin: 0 auto;
}

.text-social-medias {
  color: #ffffff;
}

@media (max-width: 756px) {
  #text-about-me {
    text-align: justify;
    text-align-last: center;
  }

  #title-patients {
    color: #212529;
  }
  .compare {
    height: 300px;
    width: 300px;
  }
  .compare__image img {
    width: 300px;
    height: 300px;
  }
  .content-details {
    top: 80%;
  }
}
